<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/spacelab/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script src="angular-route/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
    <script type="text/javascript" src="javascripts/fingerprintjs2/fingerprint2.js"></script>
    <script type="text/javascript" src="javascripts/fingerprintjs2/fingerprint2extended.js"></script>
    <script type="text/javascript" src="javascripts/fpTest.js"></script>
</head>
<body>
<h1><%= title %></h1>
<p>Thank you for your Participation</p>
<div ng-controller="ctrlRead">
    </div>
</body>
</html>
